<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <title>Item 등록</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <style>

        .real-upload {
            display: none;
        }
    </style>
</head>

<!--Section    -->

<th:block layout:fragment="section" class="py-5">
    <div class ="container-sm w-50 px-4 px-lg-4 mt-4">
        <div class="py-5 text-center">
            <h3>브랜드 등록</h3>
        </div>
        <form th:object="${brandFormDto}" method="post" enctype="multipart/form-data">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="mb-3">
                <label for="brandName" class="form-label">브랜드 이름</label>
                <input type="text" class="form-control" th:field="*{brandName}" id="brandName">
            </div>
            <p th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}" class="alert-danger alert">Incorrect data</p>

            <div class="mb-3">
                <label for ="detailBrandComment" class="form-label">브랜드 상세 내용</label>
                <textarea class="form-control h-50" rows="10" aria-label="With textarea" style="white-space: pre-line;"
                          th:field="*{detailBrandComment}" id="detailBrandComment"></textarea>
            </div>
            <p th:if="${#fields.hasErrors('detailBrandComment')}" th:errors="*{detailBrandComment}"
               class="alert-danger alert">Incorrect data</p>
            <div class="mb-3">
                <label for="brandImages" class="form-label">브랜드 이미지 등록</label>
                <input type="file" accept="image/*" class="form-control real-upload" name="brandImages" id="brandImages">
                <input type="button" class="btn btn-sm btn-outline-secondary form-control" value="이미지 추가"
                       onclick="document.getElementById('brandImages').click();"/>
            </div>
            <div class="mb-3 file_input">
                <ul class="addFileName" id="addFile">


                </ul>
            </div>
            <div class ="mb-3">
                <button type="submit" class="btn btn-sm btn-secondary form-control">등록하기</button>
            </div>
        </form>

    </div>

</th:block>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        $(document).ready(function (){
            var errorMessage = /*[[${errorMessage}]]*/;
            if (errorMessage != null) {
                alert(errorMessage);
            }

            const realUpload = document.querySelector('.real-upload');
            realUpload.addEventListener('change', checkFile);

            const docFrag = new DocumentFragment();

            function checkFile(e){

                const uploadFiles = [];
                const files = e.currentTarget.files;
                const imagePreview = document.querySelector('.addFileName');

                while(imagePreview.firstChild){
                    imagePreview.firstChild.remove();
                }


                [...files].forEach(file =>{
                    if(!file.type.match("image/.*")){
                        alert('이미지 파일만 업로드가 가능합니다.  ');
                        $(this).val("");
                        return;
                    }

                    if([...files].length < 5){
                        uploadFiles.push(file);
                        const fileReader = new FileReader();
                        fileReader.onload = (e) => {
                            const preview = createElement(e, file);
                            imagePreview.appendChild(preview);
                        };
                        fileReader.readAsText(file);
                    }
                });
            }
            function createElement(e, file){
                const name =file.name;
                const li = document.createElement('li');
                const message = document.createTextNode(name);
                li.appendChild(message);
                return li;
            }
        });
    </script>
</th:block>


</html>