<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

    <head>
        <title>Item 등록</title>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

        <style>

            .real-upload {
                display: none;
            }
        </style>
    </head>

    <th:block layout:fragment="navbar" class="py-5">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
    </th:block>
    <!--Section    -->
    <th:block layout:fragment="section" class="py-5">
        <div class="container-sm w-50 px-4 px-lg-4 mt-4">
            <div class="py-5 text-center">
                <h3>상품등록</h3>
            </div>

            <form th:object="${itemFormDto}" method="post" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" th:field="*{id}">

                <div class="mb-3">
                    <label for="itemSell" class="form-label">타입</label>
                    <select name="itemSellStatus" class="form-control form-select" id="itemSell">
                        <option value="SELL">판매중</option>
                        <option value="SOLD_OUT">품절</option>
                    </select>
                </div>
                <th:block th:if ="${#lists.isEmpty(itemFormDto.brand)}">
                    <div class="mb-3">
                        <label for="brand" class="form-label">브랜드</label>
                        <select th:field="*{brand}" class="form-select" id="brand">
                            <option value="">==브랜드 선택==</option>
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.name}" ></option>
                        </select>
                    </div>
                </th:block>
                <th:block th:unless ="${#lists.isEmpty(itemFormDto.brand)}">
                    <label for="true_brand" class="form-label">브랜드</label>
                    <p class="form-control bg-secondary text-white" id="true_brand" th:field="*{brand}" th:value="${itemFormDto.brand.id}" th:text="${itemFormDto.brand.name }"></p>
                    <input type="hidden" th:field="*{brand}"/>

                </th:block>

                <div class="mb-3">
                    <label for="itemName" class="form-label">제품 이름</label>
                    <input type="text" class="form-control"  th:field="*{name}" id="itemName">
                </div>
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="alert-danger alert">Incorrect data</p>
                <div class="mb-3">
                    <label for="itemPrice" class="form-label">가격</label>
                    <input type="text" class="form-control" th:field="*{price}" id="itemPrice">
                </div>
                <p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert-danger alert">Incorrect data</p>

                <div class="mb-3">
                    <label for="itemStockQuantity" class="form-label">수량</label>
                    <input type="text" class="form-control"  th:field="*{stockQuantity}" id="itemStockQuantity">
                </div>
                <p th:if="${#fields.hasErrors('stockQuantity')}" th:errors="*{stockQuantity}" class="alert-danger alert">Incorrect data</p>
                <div class="mb-3">
                    <label for ="detailComment" class="form-label">상품 상세 내용</label>
                    <textarea class="form-control h-50" rows="15" aria-label="With textarea" style="white-space: pre-line;"
                              th:field="*{detailComment}" id="detailComment"></textarea>
                </div>
                <p th:if="${#fields.hasErrors('detailComment')}" th:errors="*{detailComment}" class="alert-danger alert">Incorrect data</p>

                <th:block th:if ="${#lists.isEmpty(itemFormDto.type)}">
                    <div class="mb-3">
                        <label for="typeNot" class="form-label">타입</label>
                        <select th:field="*{type}" class="form-control form-select" id="typeNot">
                            <option value="">==타입 선택==</option>
                            <option th:each="type : ${types}" th:value="${type.id}" th:text="${type.typename}" ></option>
                        </select>
                    </div>
                </th:block>
                <th:block th:unless ="${#lists.isEmpty(itemFormDto.type)}">
                    <div class="mb-3">
                        <label for="typeIs" class="form-label">타입</label>
                        <p class="form-control bg-secondary text-white" id="typeIs" th:field="*{type}"
                           th:value="${itemFormDto.type.id}" th:text="${itemFormDto.type.typename }"></p>
                        <input type="hidden" th:field="*{type}"/>
                    </div>
                </th:block>
                <p th:if="${#fields.hasErrors('type')}" th:errors="*{type}" class="alert-danger alert">Incorrect data</p>
                <th:block th:if = "${#lists.isEmpty(itemFormDto.imageDtolist)}">
                    <div class="mb-3">
                        <label for="thumbnails" class="form-label">썸네일 - 메인 사진</label>
                        <input type="file" accept="image/*" class="form-control imageFile" onchange="fileCheck(this)" name="thumbnails" id="thumbnails">
                    </div>
                    <div class="mb-3">
                        <label for="itemImage" class="form-label">이미지</label>
                        <input type="file" accept="image/*" class="form-control imageFile" onchange="fileCheck(this)" name="multipartFile" multiple id="itemImage">
                    </div>
                </th:block>

                <th:block th:if = "${not #lists.isEmpty(itemFormDto.imageDtolist)}">
                    <div id="file_list mb-3">
                        <label class="form-label">이미지 추가</label>
                        <div class="mb-3">
                             <input type="file" accept="image/*" id="addFile"
                                    name="multipartFile" multiple class="real-upload"/>
                             <input type="button" class="btn btn-sm btn-outline-secondary form-control" value="파일추가"
                                    onclick="document.getElementById('addFile').click();"/>
                        </div>
                        <div class="mb-3" th:each="itemImgDto : ${itemFormDto.imageDtolist}">
                            <span class="form-text" th:text="${itemImgDto.originFileName}"></span>
                            <input type="hidden" name="itemImgIds" th:value="${itemImgDto.id}">
                            <button type="button" class="btn-close" aria-label="Close">
                                <span aria-hidden="true" th:data-id="${itemImgDto.id}"
                                      onclick="deleteFile(this)">&times;
                                </span>
                            </button>
                        </div>
                        <div class="file_input">
                            <label class="form-label" for="addFile">추가 된 이미지</label>
                            <ul class="addFileName" id="submitFile">

                            </ul>
                        </div>
                    </div>
                </th:block>

                <div class ="mb-3" th:if="${#strings.isEmpty(itemFormDto.id)}">
                    <button type="submit" class="btn btn-sm btn-secondary form-control">등록하기</button>
                </div>
                <div class="mb-3" th:unless="${#strings.isEmpty(itemFormDto.id)}">
                    <button th:formaction="@{'/admin/items/' + ${itemFormDto.id} }" type="submit" class="btn btn-sm btn-secondary form-control">수정하기</button>
                </div>
            </form>
        </div>
    </th:block>
    <th:block layout:fragment="script">
        <script th:inline = "javascript" >
            $(document).ready(function () {
                var errorMessage = /*[[${errorMessage}]]*/;
                if (errorMessage != null) {
                    alert(errorMessage);
                }
                const isItemFormDto = /*[[${#lists.isEmpty(itemFormDto.imageDtolist)}]]*/;

                if(isItemFormDto){
                    const imageFile = document.querySelectorAll('.imageFile');
                    [...imageFile].forEach(file =>{
                            file.addEventListener('change', fileCheck);
                        });
                }
                else{
                    const realUpload = document.querySelector('.real-upload');
                    realUpload.addEventListener('change', loadFile);
                }


                const docFrag = new DocumentFragment();

                function fileCheck(e){
                    const files = e.currentTarget.files;
                    console.log("files", files[0].name);
                    //파일 타입 검사
                    [...files].forEach(file => {
                        if (!file.type.match("image/.*")) {
                            alert('이미지 파일만 업로드가 가능합니다.');
                            console.log(this)
                            $(this).val("");
                            return false;
                        }
                        return true;
                    });
                }

                function loadFile(e) {
                    const uploadFiles = []
                    const files = e.currentTarget.files;
                    const imagePreview = document.querySelector('.addFileName');

                    while(imagePreview.firstChild){
                        imagePreview.firstChild.remove();
                    }



                    //파일 타입 검사
                    [...files].forEach(file => {
                        if (!file.type.match("image/.*")) {
                            alert('이미지 파일만 업로드가 가능합니다.');
                            $(".real-upload").val("");
                            return;
                        }
                        if([...files].length < 5){
                            uploadFiles.push(file);
                            const fileReader = new FileReader();
                            fileReader.onload = (e) => {
                                const preview = createElement(e, file);
                                imagePreview.appendChild(preview);

                            };
                            fileReader.readAsText(file);
                        }

                    });


                }

                function createElement(e, file){
                    const name = file.name;
                    const li = document.createElement('li');
                    const message = document.createTextNode(name);
                    li.appendChild(message);
                    return li;
                }
            });

            function deleteFile(obj) {
                var itemImageId = obj.dataset.id;
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");

                var url = "/itemImage/" + itemImageId;

                $.ajax({
                    url: url,
                    type: "DELETE",
                    beforeSend: function (xhr) {
                        /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                        console.log(itemImageId)
                        xhr.setRequestHeader(header, token);
                    },

                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        alert('선택하신 이미지가 삭제되었습니다');
                        location.href = '/admin/items/' + result;
                    },

                    error: function (jqXHR, status, error) {
                        if (jqXHR.status == '401') {
                            alert('로그인 후 이용해주세요');
                            location.href = '/members/login';

                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }

        </script>
    </th:block>
</html>