<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
    <head>
        <title>회원가입</title>
    </head>

    <th:block layout:fragment="navbar" class="py-5">
        <th:block th:replace="~{fragments/header :: header}"></th:block>
    </th:block>
    <th:block layout:fragment="section" class="py-5">

        <div class="container-sm w-50 px-4, px-lg-4, mt-4">

            <div class="py-5 text-center">
                <h3>회원가입</h3>
            </div>

            <form th:object="${memberDto}" id="joinForm" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                <div class="my-3">
                    <label for="userId" class="form-label">아이디</label>
                    <div class="d-flex">
                        <div class="pe-2 flex-grow-1">
                            <input type="text" class="form-control" th:field="*{userid}" id="userId">
                        </div>
                        <div class="ps-2">
                            <input type="button" class="btn btn-secondary form-control" id="idCheck" onclick="IdCheck()" value="ID Check">
                        </div>
                    </div>
                    <span class="form-text text-muted">아이디는 영어 소문자와 숫자만 사용하여 4~20자리여야 합니다.</span>
                </div>
                <div class="alert alert-success" id="id-success"> 아이디가 사용이 가능합니다.</div>
                <div class="alert alert-warning" id="id-warning"> 아이디가 사용이 불가능합니다.</div>
                <p th:if="${#fields.hasErrors('userid')}" th:errors="*{userid}" class="alert-danger alert">Incorrect data</p>

                <div class="my-3">
                    <label for="userPassword" class="form-label">비밀번호</label>
                    <input type="password" class="form-control" th:field="*{password}" id="userPassword">
                    <span class="form-text text-muted">비밀번호는 8~16자리수여야 합니다. 영문 대소문자, 숫자, 특수문자를 1개 이상 포함해야 합니다.</span>
                </div>
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="alert-danger alert">Incorrect data</p>
                <div class="my-3">
                    <label for="confirmPassword" class="form-label">비밀번호 확인</label>
                    <input type="password" class="form-control" id="confirmPassword">
                </div>
                <div class="alert alert-success" id="alert-success">비밀번호가 일치합니다.</div>
                <div class="alert alert-danger" id="alert-danger">비밀번호가 일치하지 않습니다..</div>
                <div class="my-3">
                    <label for="username" class="form-label">성함</label>
                    <input type="text" class="form-control" th:field="*{username}" id="username">
                </div>
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="alert-danger alert">Incorrect data</p>

                <div class="my-3">
                    <label for="gender" class="form-label">성별</label>
                    <select name="gender" class="form-control form-select" id="gender">
                        <option th:each="ged : ${T(pakaCoding.flower.domain.constant.Gender).values()}" th:value="${ged}" th:text="${ged.Value}"></option>
                    </select>
                </div>
                <div class="my-3">
                    <label for="birthDate" class="form-label">생일</label>
                    <input type="date" class="form-control" th:field="*{birthDate}" th:max="${now}" id="birthDate">
                </div>
                <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="alert-danger alert">Incorrect data</p>

                <div class="my-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" class="form-control" th:field="*{email}" id="email">
                </div>
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert-danger alert">Incorrect data</p>

                <div class="my-3">
                    <label th:for="zipcode" class="form-label">우편번호</label>
                    <div class ="d-flex">
                        <div class="pe-2 flex-grow-1">
                            <input type="text" th:field="*{zipcode}" class="form-control" readonly>
                        </div>
                        <div class="ps-2">
                            <input type="button" class="btn btn-secondary form-control" onclick="findAddr()" value="우편번호 찾기">
                        </div>
                    </div>
                </div>
                <div class="my-3">
                    <label th:for="streetAdr" class="form-label">도로명 주소</label>
                    <input type="text" th:field="*{streetAdr}" class="form-control" readonly >
                </div>
                <div class="my-3">
                    <label th:for="detailAdr" class="form-label">상세주소</label>
                    <input type="text" th:field="*{detailAdr}" class="form-control" >
                </div>
                <div class="my-3">
                    <button type="submit" id="join" class="btn btn-secondary form-control">등록하기</button>
                </div>
            </form>
        </div>
    </th:block>
    <th:block layout:fragment="script">
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline = "javascript" >
            $("#id-success").hide();
            $("#id-warning").hide();
            const idRegex = /^[a-z0-9]{4,20}$/;
            let compare_result = false;
            let idCheck_result = false;

            $(document).ready(function (){
                $("#join").click(function (){
                    if(!idCheck_result){
                        alert("아이디 중복체크는 필수입니다.")
                        return;
                    }

                    if(!compare_result){
                        alert("비밀번호가 일치하지 않습니다.")
                        return;
                    }


                    $("#joinForm").submit();
                })
            });


            $(function (){

                $("#alert-success").hide();
                $("#alert-danger").hide();



                $("#confirmPassword").keyup(function (){
                    var pwd1=$("#userPassword").val()
                    var pwd2=$("#confirmPassword").val()


                    if(pwd1 !== "" || pwd2 !== ""){
                        if(pwd1 === pwd2){

                            $("#alert-success").show();
                            $("#alert-danger").hide();
                            compare_result = true;
                        }
                        else{
                            $("#alert-success").hide();
                            $("#alert-danger").show();
                            compare_result=false;
                        }
                    }
                });
            });

            function IdCheck(){


                const userId = $("#userId").val();
                if(userId === ""){
                    alert("아이디를 입력해주세요!! 필수 항목입니다.")
                    $("#userId").focus();
                    return false;
                }
                else if (!idRegex.test(userId)){
                    alert("아이디는 영어 소문자와 숫자만 사용하여 4~20자리여야 합니다.")
                    $("#userId").focus();
                    return false;
                }
                var url ="/members/"+ userId + "/IdCheck";
                $.ajax({
                    url : url,
                    type: "GET",
                    contentType : "application/json",
                    dataType : "json",
                    cache : false,

                    success : function (result){
                        if (!result){
                            $("#id-success").show();
                            $("#id-warning").hide();
                            console.log("idCheck_result : ", result);
                            idCheck_result=true;
                        }else if(result){
                            $("#id-success").hide();
                            $("#id-warning").show();
                            alert("중복 계정입니다.")
                            console.log("idCheck_result : ", result);
                            $("#userId").focus();
                            idCheck_result=false;
                        }else{
                            alert("success이지만 result 값이 undefined 잘못됨");
                        }
                        console.log("아이디 중복체크 완료");
                    },
                    error : function (jqXHR, status, error){
                        if (jqXHR.status === '400') {
                            alert("값을 입력해주세여");
                        }else{
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }



            //아이디 Check


            function findAddr(){
                new daum.Postcode({
                    oncomplete: function (data){
                        var addr = ''; //주소 변수
                        var extraAddr = ''; //참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if(data.userSelectedType === 'R'){// 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else{// 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }
                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if(data.userSelectedType === 'R'){
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if(data.buildingName !== '' && data.apartment === 'Y'){
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if(extraAddr !== ''){
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("streetAdr").value = addr + extraAddr;

                        } else {
                            document.getElementById("streetAdr").value = addr;
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('zipcode').value = data.zonecode;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("detailAdr").focus();
                    }
                }).open();
            }
        </script>
    </th:block>
</html>