<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <head>
        <title th:text="|${member}의 주문정보|"></title>
        <meta name="_csrf" th:content="${_csrf.token}">
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
    </head>



     <th:block layout:fragment="content" class="py-5">

         <div class="container px-4 px-lg-5 mt-5">

            <h2 class="mb-4 fw-bolder">
                주문 내역
            </h2>

             <div th:each="order : ${orders.getContent()}">
                    <div class="d-flex my-2 align-self-center">
                        <h4 th:text="${order.orderDate} + ' 주문'"></h4>
                        <div class="ms-3">
                            <th:block th:if="${order.orderStatus == T(pakaCoding.flower.domain.constant.OrderStatus).ORDER}">
                                <button type="button" class="btn btn-outline-success"
                                        th:value="${order.orderId}" onclick="cancelOrder(this.value)">주문취소</button>

                            </th:block>
                            <th:block th:unless="${order.orderStatus == T(pakaCoding.flower.domain.constant.OrderStatus).ORDER}">
                                <h6 class="mt-1">(취소 완료)</h6>
                            </th:block>
                        </div>
                    </div>
                    <div class="card d-flex mb-3">
                        <div th:each="orderItem : ${order.orderItemDtoList}" class="d-flex">

                            <div class="ms-1 h-auto">
                                <img th:src="'/display/fileImage='+${orderItem.imgUrl}" class="rounded h-100"
                                     th:alt="${orderItem.flowerName}" width="230">
                            </div>
                            <div class="align-self-center w-75">

                                <span th:text="${orderItem.flowerName}" class="fw-bold ms-2"></span>
                                <div class="ms-2 fw-light">
                                    <span th:text="${orderItem.orderPrice} + '원'"></span>
                                    <span th:text="${orderItem.count} + '개'"></span>
                                </div>
                                <th:block th:if="${orderItem.reviewYn == 'N'}">
                                <a class="btn btn-outline-dark mt-auto ms-2"
                                        th:href="@{/reviews/form(orderItemNo=${orderItem.orderItemId})}">리뷰쓰기</a>
                                </th:block>
                                <th:block th:unless="${orderItem.reviewYn == 'N'}">
                                    <a class="btn btn-outline-dark mt-auto ms-2 disabled"
                                       href="#">리뷰완료</a>
                                </th:block>
                            </div>
                        </div>
                    </div>
             </div>
             <th:block layout:fragment="paging" class="py-5">
            <!--page-->
                 <nav class="container d-flex align-items-center justify-content-center navbar-light" aria-label="Page navigation example"
                      th:with="start=${(orders.number/maxPage)*maxPage + 1},
                  end=(${(orders.totalPages == 0) ? 1 : (start + (maxPage - 1) < orders.totalPages ? start + (maxPage - 1) : orders.totalPages)})">
                     <ul class="pagination justify-content-center">
                         <li class="page-item" th:classappend="${start > 1}">
                             <a class="page-link"
                                th:href="@{?(page=${Start - maxPage-1}}" aria-label="Previous">
                                 <span aria-hidden="true">&laquo;&laquo;</span>
                             </a>
                         </li>
                         <li class="page-item" th:each="page : ${#numbers.sequence(start, end)}"
                             th:classappend="${page == orders.number+1} ? 'active'">
                             <a class="page-link"
                                th:href="@{|?page=${page-1}|}" th:inline="text" th:text="${page}">1</a>
                         </li>

                         <li th:if="${end < orders.totalPages}" class ="page-item">
                             <a class="page-link" th:href="@{?(page=${orders.totalPages - 1})}" aria-label="Next">
                                 <span aria-hidden="true">&raquo;&raquo;</span>
                             </a>
                         </li>

                     </ul>
                 </nav>
             </th:block>
         </div>
     </th:block>
     <th:block layout:fragment="script">
         <script th:inline="javascript">
             function cancelOrder(orderId){
                 var token = $("meta[name='_csrf']").attr("content");
                 var header = $("meta[name='_csrf_header']").attr("content");

                 var url = "/order/" + orderId + "/cancel";
                 var paramData = {
                     orderId : orderId,
                 }

                 var param = JSON.stringify(paramData);

                 $.ajax({

                     url  : url,
                     type : "POST",
                     contentType: "application/json",
                     data : param,
                     beforeSend :  function (xhr){
                         /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                         xhr.setRequestHeader(header, token);
                     },

                     dataType : "json",
                     cache : false,
                     success : function (result, status){
                         alert("주문이 취소 되었습니다.")
                         location.href='/orders/'+ [[${page}]];
                     },
                     error : function (jqXHR, status, error){
                         if(jqXHR.status == '401'){
                             alert('로그인 후 이용해주세요');
                             location.href='/members/login';

                         }else{
                             alert(jqXHR.responseText);
                         }
                     }
                 });
             }
         </script>
     </th:block>


</html>