<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<!-- Navigation-->
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{'/flowers'}">Jun Flowers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{'/flowers'}" href="#!">All</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li th:each="type : ${types}">
                            <a class="dropdown-item h-auto" th:href="@{'/types/' + ${type.id}}" href="#!" th:text="${type.typename}"></a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div th:if="${member}">
                <div class="d-flex px-1">
                    <button class="btn btn-outline-dark" type="submit" th:onclick="|location.href='@{/members/logout}'|">
                        <span class="mx-3" th:text="|${member}님 안녕하세요!!|">안녕하세요!!</span>
                        <span class ="badge bg-dark text-whit rounded-pill">Logout</span>
                    </button>
                </div>
            </div>
            <div th:unless="${member}" class="d-flex">
                <div class=" px-1">
                    <button class="btn btn-outline-dark" type="submit" th:onclick="|location.href='@{/members/login}'|">
                        <span class ="badge bg-dark text-whit rounded-pill">LOGIN</span>
                    </button>
                </div>
                <div class=" px-1">
                    <button class="btn btn-outline-dark" type="submit" th:onclick="|location.href='@{/members/join}'|">
                        <span class ="badge bg-dark text-whit rounded-pill">JOIN</span>
                    </button>
                </div>
            </div>

            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
                </button>
            </form>
        </div>
    </div>
</nav>


</html>