<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}">
    <th:block layout:fragment="title">
        <title>Jun Flower</title>
    </th:block>
    <!-- Section-->
    <th:block layout:fragment="section" class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5" th:each="flower : ${flowers}">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder" th:text="${flower.name}">Fancy Product</h5>
                                <!-- Product price-->
                                <h6 class="fw-light"th:text="|\${flower.price}|"></h6>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{'/flowers/' + ${flower.id}}">View options</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- page-->
            <div th:if="${!flowers.isEmpty()}">
                <nav class="container d-flex align-items-center justify-content-center" aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li th:classappend="${!flowers.hasPrevious} ? 'disabled'" class="page-item">
                            <a class="page-link"
                               th:href="@{|?page=${flowers.number -1}|}">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li th:each="page : ${#numbers.sequence(0, flowers.totalPages-1)}"
                            th:if="${page >= flowers.number-5 and page <= flowers.number+5}"
                            th:classappend="${page == flowers.number} ? 'active'"
                            class="page-item">
                            <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                        </li>
                        <li class ="page-item" th:classappend="${!flowers.hasNext} ? 'disabled'">
                            <a class="page-link" th:href="@{|?page=${flowers.number + 1}|}">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>


        </div>
    </th:block>
</html>
